<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="./css/styleForm.css">
    </head>
    <body>
        <div id="header">
                <span id="headerLogo"><img src="./images/uotlogo.png" id="logo" alt="uotlogo"></span>
                <span id="headerText"> Information of Students of University of Tabriz </span>
        </div>
        <br>
        <div id="formDiv">
            <form action="/thanks" method="POST">
                <fieldset>
                        <legend>Personal Information</legend>
                        <div class="fieldPar" id="nameDiv">
                            First Name : <input type="text" class="fieldInput" name="nameField">
                        </div>
                        <div class="fieldPar" id="familyDiv">
                            Family Name : <input type="text" class="fieldInput" name="familyField">
                        </div>
                        <div class="fieldPar" id="natIdDiv">
                            National ID : <input type="number" class="fieldInput" name="natIdField">
                        </div>
                        <div class="fieldPar" id="birthDiv">
                            Birth Date : <input type="number" class="fieldInput" name="birthDateField">
                            <br>
                            <span id="dataTypeNt"> Note : Type Your Birth Date in "YYMMDD" format as a 6-digit number. </span>
                        </div>        
                </fieldset>
                <br>
                <fieldset>
                    <legend>Educational Information</legend>

                    <div class="fieldPar">
                        Field of Study : <input type="text" class="fieldInput" name="studyField">
                    </div>
                    <div class="fieldPar">
                        Entering University : <input type="number" class="fieldInput" name="enterYearField">
                    </div>
                </fieldset>
                <br>
                <button id="subBtt">Submit</button>
            </form>    
        </div>
        </div>        
    </body>
</html>