<html>
    <head>
        <title>Welcome | UoT Graduated</title>
        <link type="style/css" rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <img src="/public/images/uotlogo.png" alt="uotlogo">
        <br>
        <h1 id="welcome">Welcome</h1>
        <br>
        <p id="welcomeTxt">
            We going to make a database of 
            university of Tabriz graduated's information.
            <br><br>
            Thank you for giving this information.     
        </p>
        <br><br><br>
        <a href="form">Get Started</a>
    </body>
</html>