<!DOCTYPEhtml>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>
            Form    
        </title>
    </head>
    <body>
        <div id="header">
                <span id="headerLogo"><img src="uotlogo.png" id="logo"></span>
                <span id="headerText"> Information of Students of University of Tabriz </span>
        </div>
        <br>
        <div id="formDiv">
            <form>
                <fieldset>
                        <legend>Personal Information</legend>
                        <p class="fieldPar"> First Name : <input type="text" class="fieldInput" name="nameField"></p>
                        <p class="fieldPar"> Family Name : <input type="text" class="fieldInput" name="familyField"></p>
                        <p class="fieldPar"> Gender :
                            Male <input type="radio" value="gdrMale" class="fieldInput" name="male">
                            Female <input type="radio" value="gdrFemale" class="fieldInput" name="female">
                        </p>
                        <p class="fieldPar"> National Code : <input type="number" class="fieldInput" name="codeNumField"></p>
                        <p class="fieldPar"> Birth Date : <input type="date" class="fieldInput" name="birthDateField"></p>        
                </fieldset>
                <br>
                <fieldset>
                    <legend>Educational Information</legend>
                    <p class="fieldPar"> Field Of Study : <input type="text" class="fieldInput" name="studyField"></p>
                <p class="fieldPar"> Year of Entering University <input type="number" class="fieldInput" name="enterYearField"></p>
                <p class="fieldPar"> Passed Degrees : 
                    Bachelor<input type="checkbox" value="degBach" class="fieldInput" name="degBachField">
                    Master<input type="checkbox" value="degMast" class="fieldInput" name="degMastField">
                    Ph.D<input type="checkbox" value="degPhd" class="fieldInput" name="degPhdField">
                </p>
                </fieldset>
                
            </form>    
        </div>
        </div>        
    </body>
</html>