<html>
    <head>
        <link rel="stylesheet" href="./css/styleThanks.css">
        <link rel="icon" href="./images/uotlogo.png">
        <title>Done</title>
    </head>
    <body>
        <br><br><br><br><br>
        <h1>D O N E</h1>
        <br><br><br>
        <p>Thanks :)</p>        
    </body>
</html>