body {
    background-color: rgb(207, 228, 160);
}
#header {
    height: 60px ;
    width: 100% ;
}
.fieldInput {
    background-color: rgb(207, 228, 160);
    border: 1px dashed black;
    margin-left: 25px
}
#logo {
    height: 60px ;
    width: 60px ;
}
#headerLogo {
    padding-left: 2% ;
}
#headerText {
    padding-left: 30% ;
    vertical-align: 20px ;
    font-weight: 700 ;
}
#dataTypeNt {
    color: rgb(100, 98, 98)
}
#subBtt {
    height: 35px;
    width: 75px;
    background-color: rgb(207, 228, 160);
    border: 1px solid black ;
    margin-left: 15px
}